@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Lobster&family=Merriweather&family=Roboto:ital,wght@0,100;0,300;1,500&family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Inter&family=Lobster&family=Merriweather&family=Montserrat&family=Raleway&family=Roboto:ital,wght@0,100;0,300;1,500&family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Inter&family=Libre+Franklin&family=Lobster&family=Merriweather&family=Montserrat&family=Raleway&family=Roboto:ital,wght@0,100;0,300;1,500&family=Rubik+Microbe&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;   
    font-family: 'Raleway', sans-serif;
    text-decoration: none;  
}

h3{
    font-weight: 300;
    line-height: 28px;
    word-spacing: 8px;  
    letter-spacing: 0.5px;
    font-size: 20px;
}

h2{
    font-family: 'Bebas Neue', sans-serif;
    word-spacing: 8px;
    letter-spacing: 2px;
    font-size: 34px;
  }

.contenido{
    background-color: #ebf2fa;
}

nav{
    background-color: #07678E;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header li{
    list-style: none;
}

header li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    padding-right: 40px;
}

.logo{
    height: 100px;
    padding-left: 40px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link{
    transition: 0.5s ease;
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
    color: #679436;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@media (max-width:952px){
    .hamburguer{
        display: block;
        
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;   
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #07688e;
        width: 100%;
        transition: 0.3s;
        box-sizing: border-box;
        border-end-end-radius:  10px;
        height: auto;
    
    }

    .nav-item{
        margin: 16px 0;
        font-weight: bolder;
        font-family: 'Raleway', sans-serif;
        
    }

    .nav-menu.active{
        left: 0;
    }

    .logo{
        padding-left: 20px;
    }
}


.imgback{
    background: url(assets/img/Backimg.png);
    background-size: cover;
    background-position: center center;
    height: calc(100vh + 120px);
    width: 100%;
    
}

@media(max-width: 952px){
    .imgback{
        margin-top: 0px;
        height: 70vh;
        margin-bottom: 0px;
        background-position: center;
    }
}


.nosotros{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 60px;
    max-width: 1000px;
    margin: auto;
    overflow-wrap:break-word;
}

.nosotros h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #05668D;
}

.nosotros-txt{
    color: #05668D;
    justify-content: center;
    
}

.nosotros-txt-emp{
    font-weight: bolder;  
    color: #fff; 
    
}

.nosotros-container-emp{
    background-color: #427AA1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 50px #07678E;
}

.valores-container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.valores-container li{
    color: #05668D;
}

.valores-container h3{
    color: #07678E;
}

.titulo{
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bolder;

}
.container{
    width: 100%;
    padding: 5px 5px;
    max-width: 1200px;
    padding: 20px;
    
}

.titulo-nos{
    text-align: center;
}

@media (max-width: 952px){
    .container h2{
        font-size: 24px;
        margin-top: 0px;
        word-spacing: 0.5px;
    }
    .container h3{
        font-size: 18px;
        word-spacing: 0.5px;
        line-height: normal;
    }
    .nosotros{
        height: 100%;
        padding-top: 40px;
        
    }
    .valores-container{
        padding: 10px;
    }
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 60px;
}

.titulo-portfolio{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #05668D;
    text-align: center;
    
}

.portfolio-container h3{
    color: #05668D;
    margin-bottom: 20px;
}
.container-all img{
    width: 100%;
    height: auto;
}

.container-all{
    position:relative;
    max-width: 1000px;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}


.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    padding-top: 20px;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;

}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #679436;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: #A5BE00;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;

}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;

}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #FFFF00;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #FFFF00;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #FFFF00;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #FFFF00;
}

input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
    background: #FFFF00;
}

input[id="6"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}

input[id="6"]:checked ~ .pagination .pagination-item[for="6"]{
    background: #FFFF00;
}


.carrousel-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #ebf2fa;
}
.carrousel-slider h3{
    max-width: 900px;
}
@keyframes autoplay{
    16.66%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    33.32%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    49.98%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    66.64%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }

    83.3%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 5), 0, 0);
    }
}

.portfolio{
    height: 100%;
}


@media (max-width: 952px){
    .titulo-portfolio{
        font-size: 24px;
        margin-bottom: 20px;
        word-spacing: 0.5px;
    }
    .portfolio-container h3{
        font-size: 18px;
        word-spacing: 0.5px;
        line-height: normal;
        margin-bottom: 0px;
    }
    .pagination-item{
        width: 16px;
        height: 16px;
    }
    .portfolio{
        margin-top: 0px;
        height: 100%;
    }
}


.titulo-servicios-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    color: #05668D;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: bolder;
    word-spacing: 8px;
    letter-spacing: 2px;
}

@media (max-width: 952px){
    .titulo-servicios{
        font-size: 24px;
        word-spacing: 0.5px;
        padding: 20px;
    }

    .titulo-servicios-container{
        margin-top: 0px;
    }
}


.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}


.servicios-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ebf2fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.card {
    width: calc(50% - 20px); /* Ajustar el ancho según el diseño deseado */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px #05668D;
    border-radius: 20px;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
       
}

.card p{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #05668D;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    justify-content: center;
}

.servicios-container h3{
    font-size: 18px;
    font-weight: bolder;
    color: #05668D;
    text-align: center;
}
.servicio-titulo{
    line-height: 28px;
    padding: 10px;
    color: #05668D;
    letter-spacing: 0.5px;
}

@media(max-width: 952px){
    .titulo-container-servicios h2{
        font-size: 24px;
        line-height: normal;
        padding: 10px;
        margin-bottom: 20px;
    }
    .servicios-container h3{
        line-height: normal;
        font-size: 16px;
        text-align: center;
    }
    .servicios{
        height: 100%;
        margin-top: 0px;
    
    }
    .card p{
        line-height: normal;
        font-size: 16px;
        justify-content: center;
    }

    .servicios-container{
        display: grid;        
        width: 100%;
        padding: 0 20px;
        
    }

    .card{
        width: 100%;
        padding: 20px;
    }
}

.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 60px;
}

.blog{
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 10px;
}

.blog h2{
    font-size: 34px;
    margin-bottom: 20px;
    color: #05668D;
    text-align: center;
}

.blog h3{
    display: flex;
    margin-bottom: 20px;
    color: #05668D;
}

.btn-boletin{
    border-radius: 20px;
    background-color: #679436;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow:0 0 10px #679436;
    font-weight: bolder;
    font-size: 20px;
}

.btn-boletin:hover{
    transform: scale(1.1);
}

@media (max-width: 952px){
    .blog h2{
        font-size: 24px;
    }
    .blog h3{
        font-size: 18px;
        word-spacing: 0.5px;
        line-height: normal;
    }
    .blog{
        margin-top: 40px;
        width: 100%;
        padding: 20px;
    }

    .blog-container{
        margin-bottom: 0px;
        height: 100%;
        margin-top: 0px;
    }

    .btn-boletin{
        margin-bottom: 100px;
    }
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ebf2fa;
}


form{
    padding: 50px 55px;
    box-shadow: 0 0 50px #07678E;
    border-radius: 20px;
    text-align: center;
    width: 800px;
    background-color: #07678E;
    background-size: contain;
    margin: 10px;

}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form h2{
    color: #fff;
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

label{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    text-transform: uppercase;
}

input, textarea{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 2px solid #07678E;
    color: #000;
    outline: none;
    font-size: 16px;
}

input::placeholder, textarea::placeholder{
    color: #747474;
}

.btn{
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 20px;
    background-color:#679436;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1.2);
}

@media(max-width: 991px){
    main{
        padding: 10px;
        height: 100%;
    }

    form{
        padding: 10px 10px;
    }

    input{
        padding: 15px;
    }
    label{
        font-size: 16px;
    }
    input, textarea{
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.contactanos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactanos-h2{
    color: #05668D;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0%;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 952px){
    .contactanos-h2{
        font-size: 28px;
        padding-top: 20px;
    }
}

footer{
    background-color: #07678E;
    height: 120px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.img-footer{
    height: 100px;
    padding: 0px;
}

